{% extends 'blank.html' %}
{% block script %}
<script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
{% endblock %}
{% block data %}
<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .input-box {
        width: 300;
        height: 45px;
        border: 2px solid #4e73df;
        border-radius: 20px;
        padding: 10px;
        font-size: 18px;
        color: #000000;
    }

    .select-box {
        height: 45px;
        border: 2px solid #4e73df;
        border-radius: 10px;
        padding: 10px;
        font-size: 18px;
        color: #000000;
    }

    .button-box {
        margin-left: 10px;
        height: 45px;
        margin-top: -1%;
    }

</style>
<div class="container">
    <form method="post">
        {% csrf_token %}
        基金ID：<input type="text" class="input-box" placeholder="请输入基金..." name="fund_id">
        金额：<input type="text" class="input-box" value="10000" name="sum_money" readonly="readonly"
                    style="background-color: #d9d9d9">
        时间：<select name="date" class="select-box">
        <option value="1">1个月</option>
        <option value="2">6个月</option>
        <option value="3">12个月</option>
    </select>
        策略：<select name="strategy" class="select-box">
        {% for strategy in strategy_list %}
        <option value="{{ strategy }}">{{ strategy }}</option>
        {% endfor %}
    </select>
        <button class="btn btn-primary" style="margin-left: 10px; height: 45px; margin-top: -1%;" type="submit"
                onclick="start()">
            开始模拟
        </button>
    </form>
</div>
<script type="text/javascript">
    function start() {
        document.getElementById("profit_loss").remove();
        document.getElementById("money").remove();
        var profit_loss = '<div id="profit_loss" style="height: 40%"></div>'
        var money = '<div id="money" style="height: 40%;"></div>'
        $('#content').append(profit_loss)
        $('#content').append(money)
        var dom = document.getElementById('profit_loss');
        var myChart = echarts.init(dom, null, {
          renderer: 'canvas',
          useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
          graphic: {
            elements: [
              {
                type: 'group',
                left: 'center',
                top: 'center',
                children: new Array(7).fill(0).map((val, i) => ({
                  type: 'rect',
                  x: i * 20,
                  shape: {
                    x: 0,
                    y: -40,
                    width: 10,
                    height: 80
                  },
                  style: {
                    fill: '#5470c6'
                  },
                  keyframeAnimation: {
                    duration: 1000,
                    delay: i * 200,
                    loop: true,
                    keyframes: [
                      {
                        percent: 0.5,
                        scaleY: 0.3,
                        easing: 'cubicIn'
                      },
                      {
                        percent: 1,
                        scaleY: 1,
                        easing: 'cubicOut'
                      }
                    ]
                  }
                }))
              }
            ]
          }
        };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
    }
</script>
<div id="profit_loss" style="height: 40%"></div>
<div id="money" style="height: 40%;"></div>
{% if is_post == 1 %}
<script type="text/javascript">
    var dom = document.getElementById('profit_loss');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    data = {{ profit_loss_list }}
    option = {
      tooltip: {
        trigger: 'axis',
        position: function (pt) {
          return [pt[0], '10%'];
        }
      },
      title: {
        left: 'center',
        text: '盈亏情况'
      },
      toolbox: {
        feature: {
          dataZoom: {
            yAxisIndex: 'none'
          },
          restore: {},
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'time',
        boundaryGap: false
      },
      yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
      },
      dataZoom: [
        {
          type: 'inside',
          start: 0,
          end: 20
        },
        {
          start: 0,
          end: 20
        }
      ],
      series: [
        {
          name: 'Fake Data',
          type: 'line',
          smooth: true,
          symbol: 'none',
          areaStyle: {},
          data: data
        }
      ]
    };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
</script>
<script type="text/javascript">
    var dom = document.getElementById('money');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};

    var option;

    data = {{ money_list }}
    option = {
      tooltip: {
        trigger: 'axis',
        position: function (pt) {
          return [pt[0], '10%'];
        }
      },
      title: {
        left: 'center',
        text: '使用金额'
      },
      toolbox: {
        feature: {
          dataZoom: {
            yAxisIndex: 'none'
          },
          restore: {},
          saveAsImage: {}
        }
      },
      xAxis: {
        type: 'time',
        boundaryGap: false
      },
      yAxis: {
        type: 'value',
        boundaryGap: [0, '100%']
      },
      dataZoom: [
        {
          type: 'inside',
          start: 0,
          end: 20
        },
        {
          start: 0,
          end: 20
        }
      ],
      series: [
        {
          name: 'Fake Data',
          type: 'line',
          smooth: true,
          symbol: 'none',
          areaStyle: {},
          data: data
        }
      ]
    };

        if (option && typeof option === 'object') {
          myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
</script>
{% endif %}
{% endblock %}